<!DOCTYPE html>
<html>
<head>
  <title>RailsVue2</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>

</head>

<body>
  <div class="container-fluid">
    <%= yield %>
  </div>
  <%= javascript_pack_tag 'main' %>
</body>
</html>
